
:root {
    --canvasSize: 500px;
}

body
{
    font-family: 'Barlow', sans-serif;
    background-color: rgb(243, 243, 243);
    color: rgb(70, 68, 68);
 
}

.center {
    max-width: 1000px;
    margin: 0 auto;

}

.hero {
height: 150px;
display: flex;
justify-content: center;
align-items: center;
}

.hero h1 {
display: flex;
text-transform: uppercase;
letter-spacing: 2px;
font-size: 30px;
margin-top: -20px;
color: rgb(70, 68, 68);
}

.hero span {
    font-size: 30px;
    color: rgb(223, 46, 119);
    text-transform: lowercase;
}

.snake {
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
margin-top: 50px;
margin-left: -150px;
}

.snake div {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 2px;
    background-color: rgb(70, 68, 68);
}

.snake .snake-head {
    margin-left: 4px;
    background-color:  rgb(223, 46, 119);
    display: flex;
    flex-direction: row;
}

.snake-head div {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgb(70, 68, 68);
    margin-top: 8px;
    margin-left: 7px;
}

.container
{
margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.rules-container
  {
    display: flex;
    margin-left: 20px;
    height: var(--canvasSize);
    width:  40%;
    text-align: center;
    background-color: #eee;
  }


.rules-list .list-title {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px 0 20px 0;
     list-style: none; 
}


.rules-list .rules {
text-align: left;
list-style: none;
font-size: 16px;
line-height: 1.5;
}

.rules::before {
    content: '\2022';
    color:  rgb(223, 46, 119);
    padding-right: 10px;
}


.control-panel {
display: flex;
justify-content: center;
align-items: center;
width: 200px;
height: 100px;
position: relative;
left: calc(50% - 100px);

}

.control-panel .control {
width: 40px;
height: 40px;
background: rgba(239,1,124,1);
border-radius: 15%;
position: absolute;
display: flex;
justify-content: center;
align-items: center;
}

.control-panel .control:nth-child(1) {
    top: 0;
    left: calc(50% - 20px);
} 

.control-panel .control:nth-child(2) {
    top: 52%;
    left: 15%;
} 


.control-panel .control:nth-child(3) {
    top: 52%;
    left: calc(50% - 20px);
} 

.control-panel .control:nth-child(4) {
    top: 52%;
    left: 65%;
} 


.control-panel i {
    color: white;

}


  .page-footer {
      height: 100px;
      margin-top: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .page-footer .copy {
      font-size: 15px;
  }